@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

body {
    background-color: #176B87;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tajawal;
}
.empty {
    display: none !important;
}
nav {
    text-align: center;
    background-color: rgb(11 12 12 / 11%);
    padding: 10px;
}
#timerSection {
text-align: center;
margin: 30px;
}
div#surahId {
    background-color: rgb(11 12 12 / 11%);
    border-radius: 10px;
    width: 16rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.chooseSurah {
    margin-left: 13px;
    color: #fff;
    margin-top: 2px;
}
.surahName {
    margin-right: 10px;
    padding: 10px 0px;
}
.surahName h3 {
    padding: 0px;
    margin: 0px;
    color: #fff;
    margin-top: 2px;
}

div#surahId .icon {
    padding: 10px 13px;
    background: rgb(5 59 80 / 31%);
    border-radius: 5px;
    color: #01ACEF;
}
.theData {
    display: flex;
    align-items: center;
}
div#timer {
    font-size: 7rem;
    color: #fff;
}
div#timer span {
    padding: 0px;
    margin: 0px;
}
#playpauseBtn {
    background: rgb(11 12 12 / 11%);
    border: 0px;
    outline: 0px;
    border-radius: 50%;
    padding: 12px 19px;
    font-size: 30px;
    cursor: pointer;
    color: #01ACEF;
}
#sessionHistory {
    width: 28rem;
    display: inline-flex;
    flex-direction: column;
    background: rgb(11 12 12 / 11%);
    padding: 20px 31px;
    border-radius: 16px;
    height: 29vh;
    overflow-y: auto;
}

#sessionHistory::-webkit-scrollbar {
    width: 10px;

}
#sessionHistory::-webkit-scrollbar-track {
    background: rgb(5 59 80 / 31%);
    border-radius: 30px 0px 0px 30px;
}
#sessionHistory::-webkit-scrollbar-thumb {
    background: #01acef;
    border-radius: 16px;
    height: 10vh;
}
#sessionHistory::-webkit-scrollbar-thumb:hover {
    background: #01acefa6;
}

p#copyright {
    color: #Fff;
}
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(255 255 255 / 10%);
    border-radius: 15px;
    color: #fff;
    margin-top: 10px;
}
div#suraHistory .icon, #surahData {
    display: inline-flex;
}
div#suraHistory {
    display: flex;
    align-items: center;
}
div#suraHistory .icon {
    background: rgb(0 0 0 / 31%);
    color: #01acef;
    padding: 20px;
    border-radius: 13px;
    font-size: 23px;
    margin-left: 8px;
}
.surahDate {
    margin-right: 8px;
    margin-top: 4px;
}
div#surahTimerTime p {
    margin: 0px;
    margin-left: 15px;
    margin-top: 4px;
    font-size: 25px;
    padding: 0px;
}
.modal {
    z-index: 99999999999999;
    width: 28rem;
    display: inline;
    background: #0c4f65;
    padding: 20px 31px;
    border-radius: 16px;
    position: absolute;
    top: 33%;
    right: 33%;
}
.modal h1 {
    color:#Fff;
}
.SurahCardSelection {
    background-color: #176b87;
    border-radius: 10px;
    width: 11rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 3px;
    color: #fff;
    font-weight: bold;
}

.toast {
    z-index: 99999999999999;
    width: 28rem;
    display: flex;
    padding: 10px 30px;
    border-radius: 16px;
    position: absolute;
    bottom: 10px;
    right: 33%;
    justify-content: space-between;
    align-items: center;
}
button#close {
    background: #fff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    padding: 0px 10px;
    line-height: 2;
}
#toastext {
    font-size: 16px;
}
.row {
    overflow-y: scroll;
    height: 15rem;
}
div#header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}
#close-btn {
    all: unset;
    cursor: pointer;
    color: #fff;
}

#copyright #link {
    all: unset;
    cursor: pointer;
    color: #01acef;
    background: #1f4d5d;
    padding: 5px 10px;
    border-radius: 11px;
}

#row {
    text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #sessionHistory {
      width: 17rem;
      display: inline-flex;
      flex-direction: column;
      background: rgb(11 12 12 / 11%);
      padding: 10px 20px;
      border-radius: 16px; 
    }
    .surahTitle h3 {
        font-size: 1rem;
      }
      .surahDate {
        margin: 15px 0px 0 0;
        font-size: 0.8rem;
      }
      div#surahTimerTime p {
        margin-right: 10px;
      }
      div#suraHistory .icon {
        padding: 23px;
      }
      .modal {
        width: 14rem;
        right: 15.5%;
    }
    .toast {
        width: 11rem;
        right: 13.5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #sessionHistory {
        width: 25rem;
      }
      .modal {
        right: 11.5%;
    }
    .toast {
        width: 23rem;
        right: 16%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal {
        right: 33%;
    }
    .toast {
        width: 28rem;
        right: 33%;
    }
} 